/coremods
/fancymenu_data
/local
/logs
/resourcepacks
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
/XaeroWorldMap
/icon.png
/saves
/options.txt
/rhino.local.properties
/kubejs/probe
/kubejs/jsconfig.json
/XaeroWaypoints
/usercache.json
/usernamecache.json
/XaeroWaypoints_BACKUP032021
/.VSCodeCounter
/crash-reports
/.vscode
emi.json
/patchouli_data.json
/modernfix
/mods/.index
/replay_recordings
/.replay_cache
config/worldedit/
config/spark/config.json
config/embeddium-fingerprint.json
config/embeddium-options.json
config/embeddium++.toml
config/oculus.properties
/simplebackups
schematics
EndtimeSheltercraft.jar
EndtimeSheltercraft-natives/
config/incontrol
config/jei
config/mm-common.toml
config/mutantmonsters-server.toml
config/puresuffering
config/refurbished_furniture.server.toml
config/mm/pack/.cache
debug